{% load attachment_helpers %}
<style>
.no-border-top td, .no-border-top th{
border-top: none !important;
}
</style>
<script src="/static/attachments/js/pages/urls.js"></script>

<div ng-controller="URLController" ng-init="setURLDefaults({content_type:{{object|content_type_id}},object_id:'{{object.pk}}'});init({content_type_id:{{object|content_type_id}},object_id:'{{object.pk}}'});">

  <h4 ng-if="!urls.length">There are currently no URLs.</h4>
<table class="table" ng-if="urls.length">
<tr class="no-border-top"><th>URL</th><th>Modified</th><th>Modified by</th><th>Description</th><td></td></tr>
<tr ng-repeat="url in urls | orderBy:'-created'">
<td ng-if="!url.editing"><a href="{[url.url]}"><span ng-if="url.text">{[url.text]}</span><span ng-if="!url.text">{[url.url]}</span></a></td>
<td ng-if="url.editing">
	<label>URL <input ng-model="url.url"/></label><br>
	<label>Text<input ng-model="url.text"/></label>
</td>
<td>{[url.modified|date:'short']}</td>
<td>{[url.modified_by]}</td>
<td ng-if="!url.editing">{[url.description]}</td><td ng-if="url.editing"><textarea ng-model="url.description"></textarea></td>
<td>{[file.size]}</td>
<td>
	<button class="btn btn-xs btn-danger pull-right" ng-click="deleteURL(url,$index)">Delete</button>
	<button class="btn btn-xs pull-right" ng-if="!url.editing" ng-click="editURL(url)">Edit</button>
	<button class="btn btn-xs btn-success pull-right" ng-if="url.editing" ng-click="save(url)">Save</button>
</td>
</tr>
</table>
	<button ng-click="newURL()" class="btn btn-success">Add URL</button>
</div>
