/* Notes CSS below */
.pink{background-color:pink;}
.green{background-color:green;}
.note-wrapper{padding-left:15px;}
.note {
	max-width: 800px; 
	min-height: 50px;
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.note textarea{width:100%;height:100%; min-height:100px;}
.note span.note-content{min-height:30px;width:100%;}
.note .content{white-space: pre-wrap;}

.issue.closed .note{
	color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.issue .note, .issue:not(.closed) .note{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* File CSS below */
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}
.no-border-top td, .no-border-top th{
border-top: none !important;
}

/* URL CSS below */
.no-border-top td, .no-border-top th{
border-top: none !important;
}